In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling as ppr
from fitter import Fitter

In [4]:
%matplotlib inline

In [28]:
# Lectura de los datos
df_Continent = pd.read_csv('../data\Continent_Consumption_TWH.csv')
df_Country =  pd.read_csv('../data/Country_Consumption_TWH.csv')
df_non_renewable_total = pd.read_csv('../data/nonRenewablesTotalPowerGeneration.csv')
df_renewable_total = pd.read_csv('../data/renewablesTotalPowerGeneration.csv')
df_renewable_power_generation = pd.read_csv('../data/nonRenewablesTotalPowerGeneration.csv')
df_top_Countries = pd.read_csv('../data/top20CountriesPowerGeneration.csv')

In [30]:
df_top_Countries.head(10)

,Country,Hydro(TWh),Biofuel(TWh),Solar PV (TWh),Geothermal (TWh),Total (TWh)
0,China,1189.84,295.02,79.43,0.125,1819.940
1,USA,315.62,277.91,58.95,18.960,758.619
2,Brazil,370.90,42.37,52.25,0.000,466.350
3,Canada,383.48,29.65,7.12,0.000,424.090
4,India,141.80,51.06,43.76,0.000,262.650
5,Germany,24.17,111.59,45.10,0.160,227.180
6,Russia,187.13,0.14,0.08,0.430,188.330
7,Japan,90.67,7.63,19.01,2.440,187.349
8,France,70.13,28.50,5.87,0.130,114.820
9,Italy,50.92,17.49,16.85,6.080,113.990